.Header {
    background-color: aqua;
    height: 1000px;
    background-image: url('images/headerbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header span {
    float: right;
    padding: 30px;
    padding-right: 50px;
}

header span li {
    display: inline;
    padding: 10px;
    margin: 10px;
}

header span li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #FE5B00;
}

.link-button {
    background-color: #FE5B00;
    color: white;
    padding: 15px;
    cursor: pointer;
    border-radius: 30px;
}

.Header h1 {
    font-size: 200px;
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
}

.Header h3 {
    padding: 0;
    margin: 0;
    font-size: 30px;
    text-align: center;
    font-style: italic;
}